<h1><%= @student.to_s %></h1>
<p><%= @student.active ? 'This student is currently active.' : 'This student is currently inactive.' %></p>
<div>
	<%= link_to 'Toggle Student Activation', activate_student_path(@student) %>
</div>